.ourWork {
    width: 100%;
    background-color: rgb(232, 232, 232);
    padding: 5rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid blueviolet; */
}

.work {
    border: 1px solid rgb(255, 255, 255);
    width: 90%;
    border-radius: 20px;
    background-color: rgb(193, 182, 182);
}

h2 {
    font-size: 50px;
    word-break: break-all;
    text-align: center;
}

/* Center the button container */
#myBtnContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* border: 2px solid black; */
}

.work .btnWork {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;

}

.work .btnWork:hover {
    background-color: #ddd;
}

/* Add a dark background color to the active button */
.work .btnWork.active {
    background-color: #2d2a2a;
    color: white;
}

/* Swiper styles */
.work .swiper-container {
    width: 100%;
    /* height: fit-content; */
    /* border: 2px solid rgb(219, 93, 93); */
}




/* Content */
.work .content {
    text-align: center;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;

}

.work .content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 3rem;
}

.column {
    display: none;
    /* Hide columns by default */
}

.show {
    display: block;
    /* Show the filtered columns */
}

/* Center the Swiper pagination */
.swiper-pagination2 {
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    display: block;
}

.swiper-pagination2 .swiper-pagination-bullet {

    background-color: rgb(0, 0, 0);
    opacity: 0.7;
}

.swiper-pagination2 .swiper-pagination-bullet-active {
    width: 23px;
    height: 23px;
    background-color: rgb(36, 35, 35);
    opacity: 1;
}

/* @media only screen and (max-width: 1440px) {

    .work{
        width: 60vw;
        
    }


    .work .content {
        text-align: center;
        width: 40vw;
        height: 70vh;
        overflow: hidden;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        margin-left: 10vw;
    }

    .work .content img {
        object-fit: cover;
        padding-bottom: 3rem;
    }

} */

@media only screen and (max-width: 768px) {
    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    .work {
        width: 100%;

    }

    .ourWork {
        padding: 0.8rem;

    }

}