@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0 5rem 0;
}

.section-heading {
  font-family: "Muli", serif;
  font-size: 5rem;
  font-weight: 300;
  color: #4b4b4b;
  margin-bottom: 3rem;
}

.underline {
  width: 30rem;
  height: 0.3rem;
  background-color: #c29525;
  
}


/* ....................  About Us ....................... */
.about-us {
  width: 100%;
  background-color: #dde7f2;
  padding-bottom: 15rem;
}
.about-part{
  display: flex;
  /* border: 2px solid red; */
  font-size: 2.4em;
  font-weight: bold;
  text-align: center;
  
  margin-left: 10%;
}
.about-left{
  padding-left: 1rem;
  width: 40%;
  display: flex;
  align-items: center;
  text-align: left;
  border: 2px solid black;
}
.about-left em{
  padding-left: 6rem;
  border: 2px solid black;
}
.about-right{
  width: 40%;
  right: 0px;
  margin-right: 0px;
  border: 2px solid rgb(69, 168, 104);
}
.about-right img{
  width: 100%;
  
  /* border: 2px solid black; */
}

/* ................................Vastu .......................... */
.vastu-section{
  background-color: #a6c2be;
  padding: 3rem;
}
.vastu-section h2{
  padding:2rem;
  /* border: 2px solid rgb(16, 12, 12); */
  font-size: 4em;
  font-weight: 800;
  text-align: center;
  color: #1d1e20;
}

.vastu{
  /* background-color: #eae8e4; */
  width: 100%;
  display: flex;
}

.vastu-left{
  /* border: 2px solid black; */
  width: 45%;
}
.vastu-left img{
  width: 100%;
}


.vastu-right{
  width: 40%;
  /* border: 2px solid red; */
  display: flex;
  gap: 2rem;
  font-size: 2.5em;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding:5rem;
}


.vastu-right h4{
 
  /* border: 2px solid rgb(16, 12, 12); */
  color: #104935;
  font-size: 1.5em;
  text-align: left;
}
.vastu-right p{
  padding:5px;
  /* border: 2px solid rgb(16, 12, 12); */
  color: #4c5e58;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  
}


/* .............we Offer ............................ */
.offer {
  width: 100%;
  background-color: #e8eff2;
  padding-bottom: 15rem;
}

.offerCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.offerCard h2{
  font-size: 2rem;
  padding: 5rem;
  font-weight: 400;
}


.smallCard {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 3px rgba(34, 31, 31, 0.1);
  max-width: 20rem;
  background-color: #ffffff;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 1.5rem;
  position: relative;
}

.smallCard img {
  /* border: 1px solid #dfd9d9; */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
}

.smallCard .name {
  font-size: 1.5em;
  font-weight: 500;
}

.offer_fotter {
  text-align: center;
  color: #7f8183;
  padding: 2rem;
}

h4 {
 
  font-size: 30px;
  text-align: center;
}




/* .............  Creditability ............................... */
.Creditability {
  width: 100%;
  background-color: #ced6ce;
  padding-bottom: 5rem;
}

.creditCards {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}

.VerticalCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 25rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
}

.VerticalCard img {
  /* border-radius: 50%; */
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

.VerticalCard .name {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}


/* .............  Testonomial ............................... */
.Testonomial {
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 5rem;
}

.test {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
 
}

.slider-wrapper {
  overflow: hidden;
  width: 45rem;
  
}

.card-list .card-item {
  color: #292626;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: #dddde2;
  margin-left: 0px;
  padding: 2rem;
}

.card-list .card-item .user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 40px;
  background-color: #ffffff;
}

.card-list .card-item .user-profession {
  font-size: 1.75rem;
  color: #000000;
  font-weight: 500;
  margin: 14px 0 40px;
}
.card-list .card-item h2 {
  font-size: 5rem;
  color: #000000;
  font-weight: 700;
}
.card-list .card-item p {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 500;
  
}

.card-list .card-item .message-button {
  font-size: 1.25rem;
  padding: 10px 35px;
  color: #030728;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.card-list .card-item .message-button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  color: #fff;
}

.test .slider-wrapper .swiper-pagination-bullet {
  background: #9bacc7;
  height: 23px;
  width: 23px;
  opacity: 0.5;

}

.test .slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.slider-wrapper .swiper-slide-button {
  color: #767676;
  transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
  color: #919be2;
}

@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }

  .slider-wrapper .swiper-slide-button {
    display: none;
    
  }
}



/* Our work.................................. */
